@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark font-mono text-light antialiased;
  }
  button {
    /* focus */
    @apply focus:text-light-dark focus:outline-none;
    /* hover */
    @apply hover:text-light-dark;
  }
}
